.input{
    background-color: transparent;
    height: 30px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid var(--color-main);
    font-weight: 600;
    color: var(--color-main);
    display: block;
    &::placeholder{
        color: var(--color-main);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

